h2 ~ ol {
    list-style-type:upper-alpha;
    padding-left:1.6rem;
}
h2 ~ ol > li > ol > li > ol {
    list-style-type:lower-alpha;
}
h2 ~ ol > li > ol > li > ol > li > ol {
    list-style-type:lower-greek;
}
